apiVersion: v1
kind: ConfiMap
metadata: 
  name: prometheus-config
data: 
  prometheus.yaml: |
    global:
      scrape_interval: 15s

  scrape_configs:
    - job_name: "kubernetes-pods"
      kubernetes_sd_configs:
        - role: pod